<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denoising Web App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Image Denoising Web App</h1>
        <form id="upload-form">
            <input type="file" id="image-input" name="image" accept="image/*" required>
            <button type="submit">Upload Image</button>
        </form>
        <div id="result">
            <h2>Output:</h2>
            <img id="output-image" src="" alt="Denoised Image" style="display:none;">
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
